@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Anton');


#button-container {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Anton';
    color: #DCA140;
    font-size: 50px;
    margin-top: -6px;
}

body{
background-image: url("https://ih1.redbubble.net/image.4738783.0472/flat,1000x1000,075,f.jpg");
background-size: cover;
font-family: 'Caveat Brush';
}

#buttt{
background: none;
border: 1px solid #DCA140;
}

#canvas{
border: 3px solid #DCA140;
}